@mixin heading($font-size) {
    font-size: $font-size;
    margin: 2rem;
        text-align: center;
}

.careerpage {
    padding: 3rem 5rem;

    &__box {
        text-align: center;
        color: var(--color-black);
        width: 15rem;
        padding: 1rem;
        margin: 0 auto;
        border-radius: .50rem;
        font-weight: 600;
        letter-spacing: 1px;
        background-color: rgba($color: #000, $alpha: .3);
        transition: color .2s ease-out;
        &:hover {
            color: var(--primary-color);
        }
    }
    &__heading {
        @include heading(3rem);
    }
    &__text {
        @include heading(1.7rem);
    }
}