.latest_update {
    display: flex;
    flex: 1;
    width:80%;

    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: auto;
}
@media(min-width:780px){
    .latest_update {
        flex-direction: row;
    }
}