.AboutUs {
    &__heading {
        color: #0866E4;
        font-weight: 600;
        text-align: center;
        font-size: 5rem;
        margin: 3rem 0;
        @media screen and (max-width: 768px) {
            & {
                width: 90%;
                font-size: 3rem;
                margin: 2rem auto;
            }
          }
    }

    &__text {
        font-size: 2.4rem;
        line-height: 1.7;
        width: 55%;
        text-align: center;
        margin: 0 auto;
        color: rgba($color: #000000, $alpha: .7);
        @media screen and (max-width: 768px) {
            & {
                width: 90%;
                font-size: 1.8rem;
            }
          }
    }
}