@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.circle {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/BlankMap-World_gray.svg/1405px-BlankMap-World_gray.svg.png");
  background-size: cover;
  font-weight: 800;
  margin: 8em auto;
  min-height: 100vh;
  /*   width: 100%;
  
  height: auto;
  display: flex !important;
  justify-content: center;
  */
}
.learnwithus {
  width: 100%;
  font-size: 5em;
  height: 40px;
  color: #3e64ff;
  /* color: #1b2f4c; */
  display: flex !important;
  justify-content: center;
}
.improvewithus {
  width: 100%;
  font-size: 5em;
  /* color: #1b2f4c; */
  color: #141f4b;
  margin-top: 100px;
  display: flex !important;
  justify-content: center;
}

.box-main1 {
  display: flex;
  padding: 2% 10%;
  justify-content: space-around;
  margin: 0 17%;
  flex-wrap: wrap !important;
}
.box-main2 {
  display: flex;
  padding: 2% 10%;
  justify-content: space-evenly;
  flex-wrap: wrap !important;
}

.box1 {
  text-align: center;
  height: 20em;
  width: 20em;
  box-sizing: border-box;
  margin: 0em 0;
  box-shadow: 0px 18px 50px 0px rgb(62 100 255/ 40%);
  /* box-shadow: 0px 18px 50px 0px rgb(247 209 1 / 30%); */
  /* margin: 80px 20px 40px 80px; */
  border: 2px solid white;
  background-color: white;
  border-radius: 50%;
}
.box2 {
  text-align: center;
  height: 16em;
  width: 16em;
  box-sizing: border-box;
  margin: 1em 0;
  box-shadow: 0px 18px 50px 0px rgb(62 100 255/ 40%);
  /* box-shadow: 0px 18px 50px 0px rgb(0 0 0 / 30%); */
  /* margin: 80px 20px 40px 80px; */
  border: 2px solid white;
  background-color: white;
  border-radius: 50%;
}

.count1 {
  font-size: 4.5em;
  color: #3e64ff;
  margin-top: 27%;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}
.text1 {
  color: #1b2f4c;
  margin-top: 0;
  font-size: 1.7em;
}
.count2 {
  font-size: 4em;
  color: #3e64ff;
  margin-top: 25%;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}
.text2 {
  color: #1b2f4c;
  margin-top: 0;
  font-size: 1.6em;
}

.box1:hover {
  box-shadow: 0px 18px 50px 0px rgb(247 209 1 / 40%);

  /* box-shadow: 0px 18px 50px 0px rgb(62 100 255/ 70%); */
}
.box2:hover {
  box-shadow: 0px 0px;
}

.btn_navlink_circle {
  width: 18em;
  margin: auto;
  margin-top: 10px;
  padding: 15px 15px;
  font-size: 1.7em;
  display: block;
  border: none;
  text-align: center;
  text-decoration: none;
  border-style: none;
  color: bisque;
  color: #3e64ff;
  background: #f7d101;
  /* border-radius: 50%; */
  box-shadow: 0px 18px 50px 0px rgb(0 0 0 / 30%);
  transition: transform 500ms;
}

.btn_navlink_circle:hover {
  /* margin-top: 0;
  margin-bottom: 10px; */
  color: #f7d101;
  background-color: #3e64ff;
  transform: translateY(-10px);
}

@media (max-width: 780px) {
  .circle {
    width: 100%;
    margin-bottom: 30px;
  }
  .learnwithus {
    width: 100%;
    font-size: 4em;
    height: 40px;
    color: #3e64ff;
    display: flex !important;
    justify-content: center;
  }
  .improvewithus {
    width: 100%;
    font-size: 4em;
    color: #1b2f4c;
    margin-top: 3ch;
    display: flex !important;
    justify-content: center;
  }
  .box-main1 {
    display: flex;
    padding: 2% 10%;
    justify-content: space-around;
    margin: 0 10%;
    flex-wrap: wrap !important;
  }
  .box1 {
    text-align: center;
    height: 16em;
    width: 16em;

    box-sizing: border-box;
    margin: 1em 1em;
    box-shadow: 0px 18px 50px 0px rgb(62 100 255/ 40%);
    /* box-shadow: 0px 18px 50px 0px rgb(0 0 0 / 70%); */
    /* margin: 80px 20px 40px 80px; */
    border: 2px solid white;
    background-color: white;
    border-radius: 50%;
  }
  .count1 {
    font-size: 3em;
    color: #3e64ff;
    margin-top: 26%;
    text-align: center;
    -webkit-font-smoothing: antialiased;
  }
  .text1 {
    color: #1b2f4c;
    margin-top: 0;
    font-size: 1.2em;
  }
  .box2 {
    text-align: center;
    height: 13em;
    width: 13em;

    box-sizing: border-box;
    margin: 1em 1em;
    /* box-shadow: 0px 18px 50px 0px rgb(0 0 0 / 70%); */
    /* margin: 80px 20px 40px 80px; */
    border: 2px solid white;
    background-color: white;
    border-radius: 50%;
  }
  .count2 {
    font-size: 3em;
    color: #3e64ff;
    margin-top: 26%;
    text-align: center;
    -webkit-font-smoothing: antialiased;
  }
  .text2 {
    color: #1b2f4c;
    margin-top: 0;
    font-size: 1.2em;
  }

  .btn_navlink_circle {
    width: 20em;
    margin: auto;
    margin-top: 10px;
    padding: 15px 15px;
    font-size: 1.5em;
    display: block;
  }
}
@media (max-width: 574px) {
  .circle {
    width: 100%;
  }
  .box-main1 {
    display: flex;
    padding: 2% 10%;
    justify-content: space-around;
    margin: 0 5%;
    flex-wrap: wrap !important;
  }
  .box1 {
    text-align: center;
    height: 11em;
    width: 11em;
    box-sizing: border-box;
    margin: 10% 2%;
    /* box-shadow: 0px 18px 50px 0px rgb(0 0 0 / 30%); */
    /* margin: 80px 20px 40px 80px; */
    border: 2px solid white;
    background-color: white;
    border-radius: 50%;
  }
  .count1 {
    font-size: 2.4em;
    color: #3e64ff;
    margin-top: 26%;
    text-align: center;
    -webkit-font-smoothing: antialiased;
  }
  .text1 {
    color: #1b2f4c;
    margin-top: 0;
    font-weight: 500;
    font-size: 1em;
  }
  .box-main2 {
    display: flex;
    padding: 2% 10%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap !important;
    flex-direction: column;
  }
  .box2 {
    text-align: center;
    height: 10em;
    width: 10em;
    box-sizing: border-box;
    margin: 1% 2%;
    /* box-shadow: 0px 18px 50px 0px rgb(0 0 0 / 30%); */
    /* margin: 80px 20px 40px 80px; */
    border: 2px solid white;
    background-color: white;
    border-radius: 50%;
  }
  .count2 {
    font-size: 2.4em;
    color: #3e64ff;
    margin-top: 26%;
    text-align: center;
    -webkit-font-smoothing: antialiased;
  }
  .text2 {
    color: #1b2f4c;
    margin-top: 0;
    font-size: 1.2em;
  }
 
  .btn_navlink_circle {
    width: 20em;
    margin: auto;
    margin-top: 10px;
    padding: 15px 15px;
    font-size: 1.5em;
    display: block;
  }
}
