.container_suggestion_box {
  display: block;
  float: right;
  margin: 1em 1em;
  text-align: center;
  color: white;
  padding: 8px;
  border: #f7d101 2px solid;
  /* border-radius: 4vh; */
  height: 30em;
  width: 25%;

  background-image: url("https://img.freepik.com/free-vector/blue-halftone-memphis-background-with-yellow-lines-circles-shapes_1017-31954.jpg?size=626&ext=jpg&ga=GA1.2.2098721810.1628121600");
  background-size: cover;
}
.center textarea {
  height: 22em;
  width: 80%;
  resize: unset ;
  border-radius: 3px;
}
#bbox {
  color: grey;
  border: transparent;
  padding: 4px;
}

.btn_suggestionbox {
    width: 7em;
    border-radius: 5px;
}
.btn_suggestionbox:hover {
    background: #f7d101;
    text-decoration: #3e64ff;
    color: #3e64ff;
    border-radius: 5px;
}
 
@media(max-width: 780px) {
  .container_suggestion_box {
    display: block;
    float: right;
    text-align: center;
    color: white;
    padding: 8px;
    /* margin:20px; */
    border: #f7d101 2px solid;
    height: 20em;
    width: 70%;
  
    background-image: url("https://img.freepik.com/free-vector/blue-halftone-memphis-background-with-yellow-lines-circles-shapes_1017-31954.jpg?size=626&ext=jpg&ga=GA1.2.2098721810.1628121600");
    background-size: cover;
  }
  .center textarea {
    height: 13em;
    width: 85%;
  }
  

}

@media(max-width: 574px){ 
  
  .container_suggestion_box {
    display: block;
    float: right;
    text-align: center;
    color: white;
    padding: 8px;
    /* margin:20px; */
    border: #f7d101 2px solid;
    height: 20em;
    width: 85%;
  
  }
  .center textarea {
    height: 13em;
    width: 85%;
  }
}