.cardviewjob{
    margin: 4em auto;
    position: relative;
    display: flex;
    flex-direction: column;
}
.row{
    max-width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}
.card{
    width: 18rem;
    border: none;
    margin: auto;
    
}
.card-footer{
    border: none;
}