.people {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 23rem;
  text-align: center;
  margin:  0 auto;
  z-index: 1;
  @media screen and (max-width: 768px) {
    & {
      width: 30rem;
    }
  }

  &__heading {
    margin-top: .5rem;
    font-size: 2.3rem;
    color: var(--primary-color);
    font-weight: 600;
    @media screen and (max-width: 768px) {
      & {
        font-size: 2rem;
        margin-top: -1.5rem;
      }
    }
  }

  &__text {
    margin-top: -.5rem;
    font-size: 1.3rem;
    color: rgba($color: #000000, $alpha: 0.5);
  }
  &__img {
    position: relative;
    display: inline-block;
    width: 100%;
    border-radius: 50%;
    margin-bottom: 2rem;
  }
  &__hover-text {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all 0.4s;
  }

  &__full-designation {
    line-height: 1.2;
    padding: .5rem 3rem;
    text-align: center;
    margin-top: 3rem;
    font-weight: 600;
    opacity: 0;
    font-size: 1.5rem;
    color: #121212;
  
  }
  &__icon {
    opacity: 0;
    @media screen and (max-width: 768px) {
      & {
        font-size: 4rem !important;
        position: absolute;
        bottom: -6rem;
        right: 2rem;
        opacity: 1 !important;
      }
    }
  }

  &__designation {
    color: rgba($color: #000000, $alpha: 0.6);
    text-align: center;
    font-size: 1.6rem;
    transition: all 0.4s;
    @media screen and (max-width: 768px) {
      & {
        color: rgba($color: #000000, $alpha: 0.6);
        font-size: 1.5rem;
      }
    }
  }

  &__btn {
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.4rem;
    transition: all .3s;
    margin: 1rem 0;
  }
}

.people__img img {
  border-radius: 50%;
  width: 100%;
}

.people__img:hover .people__hover-text {
  background-color: rgba($color: #fff, $alpha: 0.8);
  opacity: 1;
}

.people__img:hover .people__icon,
.people__img:hover .people__full-designation {
  opacity: 1;
}
