.videobox1 {
  position: relative;
  display: flex;
  margin: 5em;
  flex-direction: column;
  justify-content: center;
  font-family: "Dosis", sans-serif;
}
h3 {
  color: blue;
}
.card1 {
  width: 100%;
  text-align: center;
}
.card1 div img {
  width: 70%;
}

.aboutuslink {
  border: 2px solid cornflowerblue;
  border-radius: 4%;
}

.video1 {
  display:block;
  aspect-ratio: 16/9;
  width: 75%;
  margin: 5em auto;
  border-radius: 3em;
  justify-content: center;
  align-items: stretch;
}

@media (max-width: 780px) {
  .videobox1 {
    margin: 1em;
  }
  .video1 {
    border-radius: 1.5em;
    width: 80%;
    margin: 10% ;
    padding: 0 ;
  }
}
@media (max-width: 564px) {
  .card1 div img {
    width: 100%;
  }
  .video1 {
    border-radius: 1.5em;
    width: 100%;
    padding: 0;
    margin: 10px auto;
  }
}
