body {
  position: relative;
  display: flex;
  justify-content: center; 
  font-family: 'Dosis', sans-serif;
}
.card1 {
  width:100%;
  text-align: center;

}
.card1 div img {
  width:50%;
}

.aboutuslink {
  border: 2px solid cornflowerblue;
  border-radius: 4%;
}

.video { 
  border-radius:6% ;
  height: 70%;
  width: 100%;
  
}

@media only screen   
and (min-device-width : 360px)   
 
{ 
  
 
  
  .video { border-radius:6% ;
    height: 300px;
    width: 100%;
      margin:0px auto ;
    padding: 5vh;
  }
} 
@media (min-width: 1025px) and (max-width: 1280px) {
  
  
  .video { border-radius:6% ;
    height: 600px;
    width: 100%;
      margin:0px auto ;
    padding: 5vh;
  }
}
@media  (min-width:780px)  and (max-width:1025px){
  
  
  .video { border-radius:6% ;
    height: 500px;
    width: 100%;
      margin:0px auto ;
    padding: 5vh;
  }
}


